html {
    scroll-behavior: smooth;
}

.hero-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
    filter: blur(0.5px);
}

.has-background {
    position: relative;
    overflow: hidden;
    background-color: black;
}

.is-transparent {
    opacity: .6;
}

.container-center {
    display: flex;
    justify-content: center;
    align-content: center;
}

.rounded-card {
    border-radius: 8px;
}

.rounded-image {
    border-radius: 8px 8px 0 0;
}

.external-link-card-icon {
    position: absolute;
    z-index: 999;
    color: white;
    right: 5%;
    top: 5%;
}

.schedule-section {
    background: #EFECED;
}