@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');
$family-sans-serif: "Montserrat",
sans-serif;
$family-secondary: "Roboto",
sans-serif;
$grey-lighter: #EFECED;
$navbar-background-color: #F9F9F9;
$navbar-item-img-max-height: 40px;
$navbar-item-hover-background-color:#D3D3D3;
$navbar-item-color: #000;
$navbar-item-hover-color:#000;
$navbar-dropdown-background-color: #EFECED;
$navbar-dropdown-border-top: 0;
$navbar-dropdown-item-hover-background-color:#D3D3D3;
$button-text-hover-color: #000;
$footer-background-color:#EFECED;
$footer-padding: 2rem 1.5rem 1.5rem;
$card-background-color: #F9F9F9;
$column-gap: 0.60rem;
@import "../bulma-0.9.0/sass/utilities/_all.sass";
@import "../bulma-0.9.0/sass/base/_all.sass";
@import "../bulma-0.9.0/sass/components/navbar.sass";
@import "../bulma-0.9.0/sass/components/card.sass";
@import "../bulma-0.9.0/sass/elements/button.sass";
@import "../bulma-0.9.0/sass/elements/container.sass";
@import "../bulma-0.9.0/sass/elements/image.sass";
@import "../bulma-0.9.0/sass/elements/tag.sass";
@import "../bulma-0.9.0/sass/elements/title.sass";
@import "../bulma-0.9.0/sass/grid/columns.sass";
@import "../bulma-0.9.0/sass/helpers/color.sass";
@import "../bulma-0.9.0/sass/helpers/spacing.sass";
@import "../bulma-0.9.0/sass/helpers/typography.sass";
@import "../bulma-0.9.0/sass/layout/footer.sass";
@import "../bulma-0.9.0/sass/layout/hero.sass";
@import "../bulma-0.9.0/sass/layout/section.sass";